<h1>Produkt <%= @product.name %></h1>

<%= link_to 'Upravit', edit_product_path(@product) %>

<% @product.product_variants.each do |variant| %>
    <p class="<%= params[:variant_id].to_i == variant.id ? 'active' : '' %>"><%= variant.code %></p>
<% end %>